<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Photo was approved!</h1>
    <p>
      Фото было одобрено администрацией. Теперь ваше фото доступно в галерее фотоконкурса для голосования и комментирования
    </p>
    <%= image_tag attachments['image.jpg'].url %>
  </body>
</html>