<div class="row">
  <div class="col-md-12">
    
  </div>
</div>
<div class="row col-offset-1">
  <%=form_for(@comment, url: user_photo_comment_comments_path, method: :post ) do |f| %>
    <%=f.text_area :body, class: "col-md-9" %>
    <%=f.submit "Отправить", class: " col-md-1 btn btn-primary" %>
  <%end %>
</div>

 
