
<h1><%= @user.name %></h1>
<%= image_tag(@user.image, size: "400x400") %>
<span class="token"> <%= @user.access_token %> </span>
<%= link_to "Обновить токен", users_path, method: :post, remote: true  %>