<header class="navbar navbar-fixed-top navbar-inverse">
    <div class = "navbar-inner">
        <a class="navbar-brand" href = "#">Фотоконкурс</a>
        <nav>
          <ul class="nav pull-right">
          <li><a href="#">Рейтинг фото</a></li>
          <li><a href="#">Войти</a></li>
          </ul>
            
        </nav>
         
    </div>
  </header>